[submodule "pretzer.io/themes/PaperMod"]
	path = pretzer.io/www/themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "pretzer.io/themes/hugo-devresume-theme"]
	path = pretzer.io/themes/hugo-devresume-theme
	url = https://github.com/cowboysmall-tools/hugo-devresume-theme.git
