[submodule "zola/themes/hermit_zola"]
	path = zola/themes/hermit_zola
	url = git@github.com:VersBinarii/hermit_zola.git
[submodule "hermit_zola"]
	path = zola/themes/hermit_zola
	url = git@github.com:sebpretzer/hermit_zola.git
